:root{
    --mainclr:#239f85;
    --secclr:#ff5d22;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    text-transform: capitalize;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow: hidden;
}

.header{
    background-color: var(--secclr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header #logo{
    width: 4%;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #c33502;
    color: white;
}

.navbar .icon{
    display: none;
}