:root{
    --mainclr:#239f85;
    --secclr:#ff5d22;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    overflow: scroll;
}

.header{
    /* padding: 10px 10px;
    height: 5%; */
    background-color: var(--secclr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header #logo{
    width: 4%;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #c33502;
    color: white;
}

.navbar .icon{
    display: none;
}

#about{
    background: url(img/aboutusbackground.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 6%;
    position: relative;
}

.about-1{
    margin: 30px;
    padding: 5px;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    height: 15%;
    width: 90%;
}

.about-1 h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.about-1 p{
    text-align: center;
    padding: 3px;
    color: #fff;
    font-size: 15px;
}

.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 70px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 9px rgba(0,0,0,.6);
    text-align: center;
    width: 20%;
    display: inline-block;
    float: left;
}

.about-item i{
    font-size: 40px;
    margin-bottom: 10px;
}

.about-item h3{
    font-size: 25px;
    margin-bottom: 0;
}

.about-item hr{
    width: 70%;
    height: 3px;
    background-color: black;
    margin: 0 auto;
    border: none;
}

.about-item p{
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
}

.about-item:hover{
    background-color: var(--secclr);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}

.about-item:hover hr{
    background-color: #fff;
}

.about-item:hover i{
    transform: translateY(-6px);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}



@media (max-width:600px) {

    body{
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }

    #about{
        height: 100%;
    }

}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .header #logo{
        width: 17%;
    }
}